*{
    font-family: fantasy;
    background-color: transparent;
    
}
body{
    background-color: #f9f5f5;
    font-family: Arial;
    margin: 0;
    padding: 0;
    animation-duration: 2s;
    animation-name: slide-in;
}
    @keyframes slide-in {
        from {
          translate: -100% 0;
          opacity: 0;
          scale: 0.5 1;
        }
        to {
          translate: 0 0;
          opacity: 1;
            scale: 1 1;
        }
    }
.body{
    background-image: url(Nature-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: normal;
    background-position: center;
    background-attachment: fixed;

}
.center{
    margin: auto;
    max-width: 50%;
    align-content: center;
    text-align: center;
}
.outdiv{
    text-align: center;
    margin: auto;
    color: #ffffff;
    background-color: rgb(15, 16, 16);
    font-size: 20px;
    border-radius: 10px;
    width: 50%;
    opacity: 0.9;
    padding: 10px;
}
    
h3{
    text-align: center;
    color: #f9f9f9;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(15, 16, 16);

}
h5{
    text-align: center;
    color: #f9f9f9;
    font-size: 30px;
    border-radius: 10px;
    background-color: rgb(15, 16, 16);
}
.p1{
    margin: auto;
    text-align: center;
    color: #fffefe;    
    font-size: 15px;
    border-radius: 15px;
    opacity: 0.9;
    background-color: #060606;
}
.p2{
    text-align: center;
    color: #fffefe;    
    font-size: 15px;
    border-radius: 10px;
    opacity: 0.9;
    background-color: #060606;
    padding : 5px;
}
.p3{
    text-align: center;
    color: #fffefe;    
    font-size: 30px;
    border-radius: 10px;
    opacity: 0.9;
    background-color: #060606;
    padding : 5px;
}
/* .pfooter{
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    padding-top: 50px;
} */
.quote{
    text-align: center;
    margin: auto;
    color: #ffffff;
    background-color: rgb(15, 16, 16);
    font-size: 30px;
    border-radius: 10px;
    width: 100%;
    opacity: 0.9;

}
.button{
    text-align: center;
    max-width: 50%;
    font-size: 15px;
    margin: 20px;
    padding: 10px 5px;
    margin-top: 20px;
    background-color: #0a0909;
    color: #f4f0f0;
    opacity: 1;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.button:hover{
    background-color: #060606;
    color: #ffffff;
    opacity: 0.9;
}

.button1{
    text-align: center;
    max-width: 50%;
    font-size: 15px;
    margin: 20px;
    padding: 10px 5px;
    margin-top: 20px;
    background-color: #0a0909;
    color: #f4f0f0;
    opacity: 1;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    display: none;
}
.button1:hover{
    background-color: #060606;
    color: #ffffff;
    opacity: 0.9;
}

.link{
    text-align: center;
    color: #4a0101;
    font-size: 20px;
    margin-top: 20px;
}
/* .footer{
    margin: auto;
    text-align: center;
    position: relative;
    padding-top: 100px;
    border-radius: 20px;
    border-style: none;
} */
/* .divfooter{
    text-align: center;
    position: relative;
    width: 100%;
    opacity: 1;
} */
@media (max-width: 1024px) and (orientation: landscape) {
    body {
        background-size: cover;
        background-position: center;
        width: 100%;
    }
}
.navbar{
    overflow: hidden;
    background-color: #060606;
    text-align: center;
    padding: 10px 40px;
    font-size: 17px;
    text-decoration: none;
    color: #f4f0f0;
    border-radius: 10px;
    opacity: 0.9;
}
.navbar:hover{
    background-color: #ddd;
    color: black;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #060606;
    color: white;
    text-align: center;
    opacity: 0.9;
}
.nav-center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}
.fa {
    padding: 15px;
    font-size: 30px;
    width: 20%;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-github {
    background: #333;
    color: white;
}
.fa-instagram {
    background: #e1306c;
    color: white;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }